<div class="home-container">
  <div>
    <h1 class="welcome-message">Bem vindo ao ToDo 360ยบ!</h1>
    <div class="buttons-home">
      <%= link_to 'Entrar', new_session_path, class: 'btn btn-primary' %>
      <%= link_to 'Cadastre-se', new_registration_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>
